# .clang-tidy
Checks: >
  clang-diagnostic-*,
  clang-analyzer-*,
  modernize-use-nullptr,
  modernize-use-override,
  modernize-use-auto,
  modernize-use-using,
  modernize-avoid-c-arrays,
  modernize-use-default-member-init,
  modernize-use-emplace,
  modernize-redundant-void-arg,
  cppcoreguidelines-avoid-goto,
  cppcoreguidelines-init-variables,
  performance-unnecessary-copy-initialization,
  performance-move-const-arg,
  readability-braces-around-statements,
  readability-qualified-auto,
  -modernize-use-trailing-return-type
WarningsAsErrors: ""
HeaderFilterRegex: "include/.*"
